#BaseView {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 32vw;
  width: auto;
}

#BaseViewOpponent{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 32vw;
  width: auto;
}

